<!--
    VIEW - Homepage
    Main page
-->
<br/>
<!-- Section 1 : Main Information  : START -->
<section>
    
    <!-- Title -->
    <h1 class="center">{{'homepage.content.title' | translate}}</h1>

    <!-- Description -->
    <div class="row center">
        <h5 class="col s12 light">
            {{'homepage.content.describ' | translate}}
        </h5>
    </div>

    <!-- Button to access at the main feature -->
    <div class="row center" ng-if="null == 'homepage.content.button' | translate">
        <a href ui-serf="#!" class="btn-large waves-effect waves-light">{{'homepage.content.button' | translate}}</a>
    </div>
    
<br/>
</section>
<!-- Section 1 : Main Information  : END -->
<br/>
<!-- Section 1 : Optionnal Information  : START -->
<section> 
    <div class="row">

        <card-off ng-repeat="cardId in [] | rangeFilter:maxCardId" card-id="cardId" action="clickToOpen[cardId]">
            {{'homepage.content.card.'+cardId+'.text' | translate}}
        </card-off>
    
    </div>  
</section>
<br/>
<!-- Section 1 : Optionnal Information  : END -->