
/* Fix footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/* Fix ngDialog - close button */
* { margin: 0; padding: 0; border: 0; outline: 0; }

/* gameCard */
#draw-game-card > .card-image > .card-title {
  padding: 0 0 1% 4%;
  font-size: 1.1em;
}
#draw-game-card > .card-content {
  text-decoration: none;
  font-size: 1em;
}

/* dark style */
body{
  background: whitesmoke !important;
}
header > nav{
  background-color: #424242 !important;
}
.brand-logo{
  color: yellowgreen !important;
}
footer {
  background: #424242 !important;
}
#draw-game-card > .card-content{
  color: black;
  background: rgba(0,0,0,.12);

}