<div class="container" *ngIf="game">

  <div class="card">
    <div class="card-header"><a href="{{game.website}}" [ngClass]="{'disabled': !game.website}">{{ game.name }} <fa-icon
          *ngIf="game.website" [icon]="['fas', 'external-link-alt']"></fa-icon></a></div>
    <div class="card-body container-fluid">

      <div class="row">
        <ng-container *ngFor="let item of game.infos">
          <div class="col-2">
            {{item.name}}
          </div>
          <div class="col-4">
            {{item.value}}
          </div>
        </ng-container>
      </div>

    </div>
    <div class="card-footer">
      <ng-container *ngFor="let d of game.downloads; let i = index ">
        <span *ngIf="i > 0" style="margin-right: 10px;">or</span>
        <a href="{{d.link}}" *ngIf="d.type === DownloadLinkType.Store">
          <fa-icon [icon]="['fas', 'store']"></fa-icon> Store
        </a>
        <a href="{{d.link}}" *ngIf="d.type === DownloadLinkType.Playable">
          <fa-icon [icon]="['fas', 'gamepad']"></fa-icon> Playable
        </a>
        <a href="{{d.link}}" *ngIf="d.type === DownloadLinkType.DDl">
          <fa-icon [icon]="['fas', 'download']"></fa-icon> Download
        </a>
        <a href="{{d.link}}" *ngIf="d.type === DownloadLinkType.Torrent">
          <fa-icon [icon]="['fas', 'magnet']"></fa-icon> Torrent
        </a>
      </ng-container>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      {{ game.summary }}
    </div>
  </div>

</div>