<html lang="fr" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Awesome Font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Material Design Lite -->
    <link rel="stylesheet" href="/bower_components/material-design-lite/material.min.css">
    <!-- Your Stylesheet -->
    <link rel="stylesheet" href="/html/css/main.css">
</head>
<body ng-app="MainApp" ng-cloak>

    <div class="mdl-grid">
        <aside class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet"></aside>
        <article class="mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet">
            
            <div class="mdl-grid" ng-controller="listCtrl">

                <a  ng-repeat="game in games"
                    ng-href="{{game.link}}" 
                    id="card_panel-product" 
                    class=" mdl-cell mdl-cell--3-col mdl-cell--8-col-tablet
                            mdl-shadow--2dp
                            mdl-grid mdl-grid--no-spacing">
                    <img id="card_panel-product_image" class="mdl-cell mdl-cell--12-col" ng-src="{{game.cover}}" alt="Cover" sca>
                    <div    type"mdl-button" 
                            id="card_panel-product_info" 
                            class="mdl-cell mdl-cell--12-col 
                                    mdl-grid mdl-grid--no-spacing
                                    mdl-button--raised" disabled>
                        <div id="card_panel-product_info-system" class="mdl-cell mdl-cell--1-col mdl-cell--middle">
                            <span ng-if="game.system.indexOf('windows')>-1">
                                <i class="fa fa-windows fa"></i>
                            </span>
                            <span ng-if="game.system.indexOf('linux')>-1">
                                <i class="fa fa-linux fa"></i>
                            </span>
                        </div>
                        <div id="card_panel-product_into-title"  class="mdl-cell mdl-cell--11-col mdl-cell--middle">
                            <h1>{{game.title}}</h1>
                        </div>                        
                    </div>                    
                </a>

            </div>

        </article>
        <aside class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet"></aside>
    </div>
    
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-messages/angular-messages.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>

    <!-- Material Design Library -->
    <script src="/bower_components/material-design-lite/material.min.js"></script>
    
    <!-- Your application -->
    <script src="/html/js/app.js"></script>
    <script src="/html/js/ctrl.js"></script>
    <script src="/media/bdd.js"></script>

    
</body>
</html>

<!--
Copyright 2016 Google Inc. All Rights Reserved. 
Use of this source code is governed by an MIT-style license that can be in foundin the LICENSE file at http://material.angularjs.org/license.
-->