<mdl-container size="10">

    <div class="mdl-cell mdl-cell--12-col"><br /></div>
    <div class="mdl-cell mdl-cell--12-col"><br /></div>
    <div class="mdl-cell mdl-cell--12-col"><br /></div>
    <h1 class="mdl-cell mdl-cell--12-col">For draw this website</h1>
    <div class="mdl-cell mdl-cell--12-col"><br /></div>
    <div class="mdl-cell mdl-cell--12-col"><br /></div>
    <div class="mdl-cell mdl-cell--12-col"><br /></div>

    <h5 class="mdl-cell mdl-cell--12-col">
        Welcome.
        For access into this website, you need to give a JSON file.
    </h5>

    <div class="mdl-cell mdl-cell--12-col"><hr /></div>
    <div class="mdl-cell mdl-cell--12-col"><br /></div>
    <div class="mdl-cell mdl-cell--12-col"><br /></div>
    <div class="mdl-cell mdl-cell--12-col"><br /></div>
    <div class="mdl-cell mdl-cell--12-col"><br /></div>
    <form 
        class="mdl-cell mdl-cell--12-col mdl-grid"
        name="$ctrl.form"
        ng-submit="$ctrl.loadJsonFile()">

            <input class="mdl-cell mdl-cell--12-col" type="file" id="file" class="" read-text="onFileSelect($files)" required>
        
            <button type="submit" class="mdl-cell mdl-cell--12-col mdl-button mdl-js-button mdl-button--raised mdl-button--colored">ReadFile</button>
            
    </form>

</mdl-container>