<!--
    Partial - FOOTER
    Generic footer for all pages.
-->
<div class="footer-copyright">
    <div class="container">
        <span>{{'footer.copyright' | translate}}</span>
        <div class="grey-text text-lighten-4 right">
            <h7>{{'footer.language' | translate}}</h7>
            <a href ng-click="changeLanguage('en')"><span class="flag-icon flag-icon-us"></span></a>
            <a href ng-click="changeLanguage('fr')"><span class="flag-icon flag-icon-fr"></span></a>
        </div>
    </div>
</div>