<mdl-container size='8'>
    
    <div class="mdl-cell mdl-cell--12-col"><br/></div>
    <div class="mdl-cell mdl-cell--12-col"><br/></div>
    <home-info class="mdl-cell mdl-cell--12-col mdl-grid mdl-grid--no-spacing"></home-info>
    <div class="mdl-cell mdl-cell--12-col"><br/></div>
    <div class="mdl-cell mdl-cell--12-col"><br/></div>
    <div class="mdl-cell mdl-cell--12-col"><br/></div>
    <div class="mdl-cell mdl-cell--12-col"><br/></div>
    <div class="mdl-cell mdl-cell--12-col"><br/></div>
    <div class="mdl-cell mdl-cell--12-col"><br/></div>
    <div class="mdl-cell mdl-cell--12-col"><br/></div>
    <home-info-card class="mdl-cell mdl-cell--12-col mdl-grid mdl-grid--no-spacing"></home-info-card>

</mdl-container>