<!-- detail.htm -->

<div class="mdl-grid mdl-shadow--2dp" ng-controller="detailCtrl">

    <div id="detail_title" class="mdl-cell mdl-cell--12-col">
        <h1>{{gameById.title}}</h1>
    </div>
    <div class="mdl-cell mdl-cell--12-col-desktop mdl-grid">
        <fieldset class="mdl-cell mdl-cell--4-col-desktop">
            <legend>Informations :</legend>
            <ul id="detail_info">
                <li id="detail_info-genre">Genre : 
                    <span ng-repeat="genre in gameById.info.genre">{{genre}} </span>
                </li>
                <li id="detail_info-genre">Editeur : 
                    <span ng-repeat="editeur in gameById.info.editeur">{{editeur}}</span>
                </li>
                <li id="detail_info-genre">Langue : 
                    <ul>
                        <li>Audio : 
                            <span ng-repeat="audio in gameById.info.audio">
                                <span ng-if="audio.indexOf('en')>-1">
                                    <i class="flag-icon flag-icon-us"></i>/<i class="flag-icon flag-icon-gb"></i>
                                </span>                                
                                <span ng-if="audio.indexOf('en')==-1">
                                    <i class="flag-icon flag-icon-{{audio}}"></i>
                                </span>
                            </span>                                
                        </li>
                        <li>Texte : 
                            <span ng-repeat="subtitle in gameById.info.subtitle">
                                <span ng-if="subtitle.indexOf('en')>-1">
                                    <i class="flag-icon flag-icon-us"></i>/<i class="flag-icon flag-icon-gb"></i>
                                </span>                              
                                <span ng-if="subtitle.indexOf('en')==-1">
                                    <i class="flag-icon flag-icon-{{subtitle}}"></i>
                                </span>
                            </span>
                        </li>
                    </ul>
                <li id="detail_info-genre">Support : 
                    <span ng-repeat="system in gameById.info.system">
                        <i class="fa fa-{{system}} fa"></i>
                    </span>
                </li>
            </ul>
        </fieldset>
        <fieldset id="detail_info-link" class="mdl-cell mdl-cell--8-col-desktop mdl-grid">
            <legend>Downloads Option :</legend>
            <a ng-repeat="download in gameById.download" 
                type="button" 
                class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--raised 
                    mdl-cell mdl-cell--12-col-desktop" 
                href="{{download.link}}">
                <div class="mdl-grid mdl-grid--no-spacing">
                    <i id="detail_info-link_icon" class="fa fa-download"></i>
                    <div class="mdl-layout-spacer"></div>
                    <span id="detail_info-link_text">{{download.name}}</span>           
                    <div class="mdl-layout-spacer"></div>             
                    <span id="detail_info-link_size">
                        <span ng-if="download.system.indexOf('windows')>-1">
                            <i class="fa fa-windows fa"></i>
                        </span>
                        <span ng-if="download.system.indexOf('linux')>-1">
                            <i class="fa fa-linux fa"></i>
                        </span> | {{download.size}}
                    </span>
                </div>                        
            </a>
        </fieldset>
    </div>

</div>