body{
    font-family: Open Sans,sans-serif;
    background-color: whitesmoke; 
}
h1{
    text-transform: uppercase;
    color: #262626;
}
fieldset {     
    border: 1px solid black;
}
.mdl-layout-title{
    text-decoration: none;
}
/* CARD PRODUCT */
#card_panel-product{
    text-decoration: none;
    width: 239px;
}
#card_panel-product_image{
    height: 113px;
}

#card_panel-product_info{
    padding: 8px 10px 4px 10px;
}
#card_panel-product_info-title{
    text-align: center;
    vertical-align: middle;
}
#card_panel-product_info-title h1{
    margin-top: 2;
    margin-bottom: 2;
    /*FONT*/
    font-size: 1em;
}
#card_panel-product_info-system {
    margin-top: -10%;
    margin-left: 5%;
    color: whitesmoke;
}
/* DETAILS */
#detail_title h1{
    font-size: 2em;
    text-align: center;
}
#detail_info{
    
}
#detail_info-genre{
}
#detail_info-editor{
}
#detail_info-language{
}
#detail_info-link{
    border: 1px solid black;
}
#detail_info-link_icon{
    padding: 11px 10px 0 0;
}
#detail_info-link_text{
}
#detail_info-link_size{
}

a #button-portable{
    background: yellowgreen;
}