<!-- Title -->
<h1 class="mdl-cell mdl-cell--12-col" style="text-align: center;">{{$ctrl.title}}<br/></h1>

<!-- Spacer -->
<div class="mdl-cell mdl-cell--12-col"><br/></div>
<div class="mdl-cell mdl-cell--12-col"><br/></div>
<div class="mdl-cell mdl-cell--12-col"><br/></div>

<!-- Description -->
<h5 class="mdl-cell mdl-cell--12-col" style="text-align: center;">{{$ctrl.message}}</h5>

<!-- Button to access at the main feature -->
<div class="mdl-grid center" style="text-align: center;" ng-if="null == 'homepage.content.button' | translate">
    <button ui-serf="#!" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">{{'homepage.content.button' | translate}}</a>
</div>